# Ignore everything by default
*
!.gitignore
!README.md

# But allow the data directory and JSON files
!data/
!data/*.json
!data/pvp/
!data/pvp/*.json
!data/pve/
!data/pve/*.json
!data/pvp-s/
!data/pvp-s/*.json

# And the data generator
!tools/
!tools/*.py
